<h3>Here are your to-do lists:</h3>

<% if @lists.any?() %>

<ul>
  <% @lists.each() do |list| %>
  <li><a href='/lists/<%= list.id() %>'><%= list.name() %></li>
  <% end %>
</ul>

<% else %>

<h5>There are no lists.</h5>

<% end %>

<a href='/'>Home</a>
